.input-email {
    margin: 8px 0 24px 0;
    height: 72px;
    background-color: #f1f3f5;
    border-color: #ced4da;
    font-family: "AppleSDGothicNeo";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.91px;
}

.input-password {
    margin: 8px 0 0 0;
    height: 72px;
    background-color: #f1f3f5;
    border-color: #ced4da;
    font-family: "AppleSDGothicNeo";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.91px;
}

::placeholder {
    color: #9da6af;
}